<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="SquadXML" lan="LAN_PLUGIN_SQD_NAME" version="2.0" date="2016-04-26" compatibility="2.0" installRequired="true" >
	<author name="LaocheXe" url="https://github.com/LaocheXe" />
	<contributors>
    	<contributor name="CaMer0n" url="https://github.com/CaMer0n" />
    </contributors>
	<summary lan="LAN_PLUGIN_SQD_BATCH">Create SquadXML for the ArmA series</summary>
	<description lan="LAN_PLUGIN_SQD_DESCRIPTION">Generate a Squad XML with out needing to code the XML yourself. This plugin will all any user with the permisions to add, edit, remove users from the PHP generated Squad XML.</description>
	<keywords>
		<word>gaming</word>
		<word>arma</word>
		<word>units</word>
	</keywords>
	<category>users</category>
	<copyright>LaocheXe</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="" iconSmall="" icon128="" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='unitName'>Your Unit Name</pref>
		<pref name='unitTags'>TAGS</pref>
		<pref name='unitEmail'>unitemail@unitwebsite.com</pref>
		<pref name='unitWebsite'>http://unitwebsite.com</pref>
		<pref name='unitPaa'>picture.paa</pref>
		<pref name='unitTitle'>Unit Title Here</pref>
		<pref name='unitSquads'>0</pref>
	</pluginPrefs>
</e107Plugin>